 <% @compares.each do |x|%>
  
  <div class="row  center-align">
   <div class="col s12 m4 offset-m4">
    <div class="card yellow lighten-5 z-depth-4">
            <div class="card-content white-text">
              <span class="card-title"><h3><%= link_to x.headline, compare_path(x), :class => " cyan-text"  %></h3></span>
              
    <div class="compare">
      <div class="comp1">
        <img  src='<%= x.img1_url%>'><br>
            <%= link_to "this", votes_create_path(:choice => "this", :compare_id => x.id.to_i), :class =>"waves-effect waves-light btn cyan accent-4" %>
      </div>
      <div class="comp2">
        <img src='<%= x.img2_url%>'><br>
            <%= link_to "that", votes_create_path(:choice => "that", :compare_id => x.id.to_i), :class =>"waves-effect waves-light btn cyan accent-4" %>
      </div>
    </div> 
    
    
       </div>
           
          </div>
    </div>
    </div>
  <%end%>
 
 

              
         