
 <div class="row">
   <div class="col s12 m6 offset-m3">
    <div class="card yellow lighten-5 z-depth-4">
            <div class="card-content black-text">
              <span class="card-title"><h3>New Comparative</h3></span>
<%= form_for @compare do |f| %>

<%= f.label :headline%>
<%= f.text_field :headline%>

<%= f.label :img1_url%>
<%= f.text_field :img1_url%>

<%= f.label :img2_url%>
<%= f.text_field :img2_url%>

<%= f.submit %>

<%end%>
</div>
</div>
</div>
</div>